body {
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post img {
    width: 100%;
   
   
}
.icono-html {
    font-size: 30px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 10px;

}
.icono-html-2 {
    font-size: 30px;
    margin: 15px 290px 0px;

}
.icono-html-3 {
    font-size: 30px;
    

}
.icono-html-4 {
    font-size: 30px;

}
.icono-html-5 {
    font-size: 30px;

}
.icono-html-6 {
    font-size: 30px;
    margin: 0px 290px 0px 360px;
    justify-content: space-between;

}
div.post {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: 550px;
    

}
.post-header{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.header-1{
    display: flex;
}
.post-body{
    margin-left: 10px;
    

}
.post-icons{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 550px;

}
.iconos3-5{
    display: flex;
    gap: 5px;
    padding-right: 5px;
    
    
}
.icono6{
    margin-left: 40px;
    
}
.tres-puntos{
    margin-right: 0;
    margin-left: 150px; 
}
    
    




